<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="/javascripts/react.min.js"></script>
    <script src="/javascripts/react-dom.min.js"></script>
    <script src="/javascripts/browser.min.js"></script>
</head>
<body>

<h1>Jukebox</h1>
<p>Welcome to <%= title %> page</p>
<h3 class="panel-title">Login</h3>

<% var data = ""; if (message) data = message; else data = "Welcome to JukeBox" %>
<p><%= data %></p>

<div id="app"/>
<div id="message"/>

</body>
</html>


<script type="text/babel">

    var Form = React.createClass({
        clickEvent : function () {
            window.location.href = '/signup';
        },
        render : function () {
            return (
                    <div>
                        <form method="post">
                            <label>Email</label>
                            <input type="email" name="email"/>
                                <label>Password</label>
                                <input type="password" name="password"/>
                                    <button type="submit" name="submit">Submit</button>
                                    <button type="button" onClick={this.clickEvent}>Sign Up</button>
                        </form>
                    </div>
            );
        }
    });

    ReactDOM.render(<Form/>,document.getElementById('app'));
</script>